name: myapp
image:
  repository: "registry.hub.docker.com/library/alpine"
  tag: "3.15"
replicaCount: "2"
service:
  port: 80
  type: "ClusterIP"
greeting: "Testing"
favorite:
  drink: "water"
  food: "pizza"
token: "dev-token"
